/.aws
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.gem
/.gnupg
/.heroku
/.mkshrc
/.netrc
/.pgpass
/.profile
/.psql_history
/.rvm
/.ssh
/.viminfo
/.zlogin
/.zshrc
*old/
/.env
*.swp
/dumps
/keys
/logs
/src
*join_ruby_script.rb
*join_sql_script.sql
*lms_ruby_script.rb
*osqa_delete_user.sql
/scripts/sslcerts
/scripts/lms_migrate_to_rds
