/.aws
/.aptitude
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.gem
/.gnupg
/.heroku
/.heroku_config_settings.json
/.local
/.mkshrc
/.mysql_history
/.netrc
/.pgpass
/.profile
/.psql_history
/.rvm
/.ssh
/.viminfo
/.zlogin
/.zshrc
*old/
*tmp/
/.env
*.swp
/dlang
/dumps
/keys
/agentkeys
/oldkeys
/pubkeys
/logs
/src
/misc
*join_ruby_script.rb
*join_sql_script.sql
*lms_ruby_script.rb
*osqa_delete_user.sql
/scripts/sslcerts
/scripts/lms_migrate_to_rds
/.Xauthority
/.bundle/
/.env-staging-prodsf
/.lesshst
/.npm/
/.vim/
/backups/
